.mainTitle{
  text-align:center;
  text-shadow: 2px 2px 2px #ccc;
  font-family: 'Nobile',sans-serif, serif ;
}
.container-content{
box-sizing: content-box;
text-align: center;
font-weight: 250;
font-family: sans-serif, serif ;
padding: 12%;
}
.containerFullScreenImage{
  width = 100%;
  height = auto;
}

.container-image{
  width: auto;
  height: auto;
}
