.navbar-item
{
  font-size: 36%;
  padding: 30px;

  font-family: 'Open Sans Condensed', sans-serif;
}
body{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #BA6C1F;
}

.background-photo{
	background-image: url('disaster-relief.jpg');
  background-color: while;
  width:auto;
	height: 70vh;
	background-size: cover;
}

.background-photo img{
  opacity: 0.5;
  disply: none;
}

#intro{
padding-top: 70px;
padding-left: 5%;
padding-right: 5%;
font-size: 150%;
font-family: 'Open Sans Condensed', sans-serif;
}

#heading{
background color: #6A2C0E;


}
