/* Remove Browser Defaults*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0; padding: 0; border: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #BA6C1F;
}

.navbar-item {
  font-size: 36%;
  padding: 30px;

  font-family: 'Open Sans Condensed', sans-serif;
}

.navbar-nav .nav-link {
  text-align: center; /* center the text */
}

.background-photo{
	background-image: url('disaster-relief.jpg');
  background-color: while;
  width:auto;
	height: 70vh;
	background-size: cover;
}

.background-photo img{
  opacity: 0.5;
  disply: none;
}

#intro {
  padding-top: 70px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#heading {
  background color: #6A2C0E;
}
