body {
  /*background-color: #8ed0da; */
  background-color: ;
}

#DonateNavBar {
  background-color: #BA6C1F;
}

.disasters {
  padding: 1em;
}

.card-as-link {
  color: inherit;
  text-decoration: inherit;
}

.card-as-link:hover {
  color: inherit;
  text-decoration: inherit;
}
