
body {
  background-color: #8ed0da;
}

.disasters {
  padding: 1em;
}

.card-as-link {
  color: inherit;
  text-decoration: inherit;
}

.card-as-link:hover {
  color: inherit;
  text-decoration: inherit;
}

.card-img {
  min-height: 60px;
  min-width: 60px;
}