:root {
  --lightInfo: #8ed0da;
}

body {
  background-color: var(--lightInfo);
}

.product {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
  background-color: white;
}

.quantity label {
  margin: 0.5rem;
}

.quantity input {
  width: 80px;
  margin: auto;
  text-align: center;
}
